* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  padding-top: 2rem;
}

header {
  border-top: 3px solid darkorchid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 5rem;
}
nav ul li a:hover {
  border-bottom: 3px solid darkorchid;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: darkviolet;
  font-weight: bold;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
}

.feature {
  display: flex;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  margin: 2em;
  border-radius: 50px;
}
.feature img {
  border-radius: 50px;
}

body {
  padding-top: 2rem;
}

header {
  border-top: 3px solid darkorchid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 5rem;
}
nav ul li a:hover {
  border-bottom: 3px solid darkorchid;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: darkviolet;
  font-weight: bold;
}

.hero__content {
  background: linear-gradient(rgba(153, 50, 204, 0.5), rgba(153, 50, 204, 0.5)), url(/images/therapy1.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  line-height: 2em;
  font-size: large;
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
}
section .child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}


.how-it-works__content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

#how-it-works h2, p, h3 {
  margin: 2em;
}

.how-it-works__content {
  box-shadow: 0 0 4px rgb(83, 11, 199);
  margin: 2em;
  border-radius: 100px;
}
.how-it-works__content img {
  border-radius: 100px;
section .child img {
  border-radius: 100px;
}
section .individual img {
  border-radius: 100px;
}
section .couples img {
  border-radius: 100px;
}
section .aged img {
  border-radius: 100px;
}
section section img {
  width: 400px;
  height: 400px;
  border-top-left-radius: 100px;

}