* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.aboutus .title {
  background-color: purple;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.aboutus .title h2 {
  color: white;
  font-size: xx-large;
}

.about {
  margin-top: -2rem;
  background: linear-gradient(rgba(153, 50, 204, 0.5), rgba(153, 50, 204, 0.5)), url(/images/about.webp) no-repeat center center/cover;
  height: 50vh;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.about p {
  line-height: 1.4rem;
  color: white;
  font-weight: bold;
  font-size: large;
  width: 50%;
  margin-top: 3rem;
}

body {
  padding-top: 2rem;
}

header {
  border-top: 3px solid darkorchid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 5rem;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: darkviolet;
  font-weight: bold;
}

.contactus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.contactus h2 {
  margin-top: 1rem;
  font-size: xxx-large;
  color: darkorchid;
}

.feedback {
  background: linear-gradient(rgba(153, 50, 204, 0.5), rgba(153, 50, 204, 0.5)), url(/images/contact.webp) no-repeat center center/cover;
  height: 100vh;
}

.form {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 2rem;
}
.form p {
  color: lightgoldenrodyellow;
  font-size: large;
  font-weight: bold;
}
.form input {
  padding: 2rem;
  border-radius: 20px;
  border: none;
  width: 100%;
  color: darkorchid;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: darkorchid;
}
.form input::placeholder, .form textarea::placeholder {
  color: darkorchid;
}
.form textarea {
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 1rem;
  color: darkorchid;
}
.form button {
  margin-left: 3rem;
  padding: 1rem 6rem;
  border-radius: 50px;
  border: none;
  background-color: darkorchid;
  color: lightgoldenrodyellow;
  font-size: large;
}

#features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
}
#features h2 {
  color: darkorchid;
  text-align: center;
}
#features .content {
  padding: 2rem;
}

.feature {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  border-radius: 50px;
}
.feature p {
  color: darkorchid;
  font-size: large;
  line-height: 1.5em;
}
.feature h3 {
  color: darkblue;
  font-size: xx-large;
  line-height: 1em;
}
.feature h4 {
  color: darkblue;
}
.feature ul {
  list-style-type: none;
  flex: 1;
}
.feature div:first-child {
  flex: 1;
}
.feature div:last-child {
  flex: 1;
}
.feature img {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 100%;
}

@media screen and (max-width: 1193px) {
  .feature {
    flex-direction: column;
  }
}
footer {
  background-color: #995FC5;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 2rem 0;
}
.footer__content .footer__left p {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
  padding-top: 2rem;
}
.footer__content .footer__left img {
  filter: brightness(0) invert(1);
}
.footer__content .footer__center {
  padding-bottom: 3em;
}
.footer__content .footer__center p {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1rem;
  color: white;
}
.footer__content .footer__center h2 {
  color: white;
  font-size: 2em;
  padding-bottom: 1em;
}
.footer__content .footer__center ul {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 1.5rem;
}
.footer__content .footer__center ul li {
  list-style-type: none;
  font-size: large;
}
.footer__content .footer__center ul li a {
  color: white;
  text-decoration: none;
}

.footer__right {
  padding-bottom: 3em;
}
.footer__right .subscribe {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: center;
  flex-wrap: no-wrap;
  border-radius: 7px;
}
.footer__right h2 {
  color: white;
  font-size: 2em;
  padding-bottom: 1.5em;
}
.footer__right input {
  padding: 2em;
  flex: 1;
  border: none;
  outline: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.footer__right button {
  background-color: darkorchid;
  border: none;
  color: lightgoldenrodyellow;
  padding: 2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

body {
  padding-top: 2rem;
}

header {
  border-top: 3px solid darkorchid;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.nav__icon {
  display: none;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 5rem;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  color: darkviolet;
  font-weight: bold;
}

.hero__content {
  background: linear-gradient(rgba(153, 50, 204, 0.5), rgba(153, 50, 204, 0.5)), url(/images/therapy1.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 2em;
  font-size: large;
  color: white;
  margin-bottom: 2rem;
}

.best__content {
  flex: wrap;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin-top: 2rem;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
}
.time img {
  width: 100%;
}
.time p {
  color: darkorchid;
  font-size: medium;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.1rem;
}
.time h1 {
  color: darkmagenta;
  font-size: xx-large;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin: 2rem 0;
  line-height: 2rem;
  color: darkmagenta;
}

.best {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: wrap;
  flex-wrap: no-wrap;
}

.best1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 2rem;
}
.best1 .child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  border-radius: 100px;
  flex: 1;
  padding-left: 2rem;
  color: darkmagenta;
  width: 100%;
}
.best1 .child img {
  border-radius: 100px;
  padding-left: 2rem;
  flex: 1;
}
.best1 .individual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  border-radius: 100px;
  padding-left: 2rem;
  flex: 1;
  color: darkmagenta;
  width: 100%;
}
.best1 .individual img {
  border-radius: 100px;
  padding-left: 2rem;
  flex: 1;
}

.best2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 2rem;
}
.best2 .couples {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  border-radius: 100px;
  padding-left: 2rem;
  line-height: 1.5rem;
  flex: 1;
  color: darkmagenta;
  width: 100%;
}
.best2 .couples img {
  border-radius: 100px;
  padding-left: 2rem;
  flex: 1;
}
.best2 .aged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  border-radius: 100px;
  padding-left: 2rem;
  color: darkmagenta;
  width: 100%;
}
.best2 .aged img {
  border-radius: 100px;
  padding-left: 2rem;
}

.whyus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin-bottom: 2rem;
}
.whyus button {
  background-color: darkorchid;
  border: none;
  color: white;
  padding: 2rem 3rem;
  margin-top: 2rem;
  border-radius: 100px;
  font-size: x-large;
}
.whyus .language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 1rem;
}
.whyus h1 {
  color: darkmagenta;
  margin-top: 2rem;
  font-size: xx-large;
}
.whyus h3 {
  color: darkmagenta;
  margin: 1.5rem;
}
.whyus .language1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  border-radius: 200px;
  box-shadow: 0 0 4px rgb(83, 11, 199);
}
.whyus .language1 p {
  font-size: x-large;
  font-weight: bold;
  color: darkmagenta;
}
.whyus img {
  border-radius: 200px;
}

@media screen and (max-width: 900px) {
  .nav__right ul {
    display: none;
  }
  .nav__icon {
    display: inline-block;
  }
}
#how-it-works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 50%;
  margin: 0 auto;
}
#how-it-works h2 {
  color: darkblue;
  line-height: 2rem;
}
#how-it-works p {
  color: darkorchid;
}
#how-it-works .content {
  margin: 0 1rem;
}
#how-it-works .content h2 {
  color: darkblue;
  line-height: 0.5em;
}
#how-it-works .content p {
  color: darkmagenta;
  line-height: 1.5em;
}

.how-it-works__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2rem;
}

.how-it-works__content {
  box-shadow: 0 0 4px rgb(83, 11, 199);
  margin: 2em;
  border-radius: 100px;
  width: 100%;
}
.how-it-works__content img {
  border-radius: 100px;
}
.how-it-works__content h4 {
  color: darkblue;
  font-size: x-large;
}
.how-it-works__content p {
  color: darkmagenta;
}