@use"./../../utilities/mixin" as *;
body{

    padding-top: 2rem;
}
header{
    
    border-top: 3px solid darkorchid;
}
nav{
    @include flex(space-between,center);
    ul{
        @include flex(space-between,center);
        gap:5rem;
        li a:hover{
            // color: lightgoldenrodyellow;
            // background-color: darkorchid;
            // padding: 1rem 3rem;
            border-bottom: 3px solid darkorchid;

        }
        li{
            list-style-type: none;
            
            a{
            text-decoration: none;
            color:darkviolet;
            font-weight: bold;
            
        }
    }
    }
    
}
.hero__content{
    background:linear-gradient(rgba(60%,19.6%,80%,0.5),rgba(60%,19.6%,80%,0.5)), url(/images/therapy1.jpg) no-repeat center center /cover;
    height:100vh;
    @include flex (center,center,column);
    line-height: 2em;
    font-size: large;
    color:white;
    
}
section{
    @include flex (center,center,column);
    .child{
        @include flex (center,center);
     img{
        border-radius: 100px;
    }
    }
    .individual img{
        border-radius: 100px;
    }
    .couples img{ 
        border-radius: 100px;
    
    }
    .aged img{
        border-radius: 100px;
    }
section img{
    width: 400px;
    height: 400px;
    border-top-left-radius: 100px;
}}