@use "./../../utilities/mixin" as *;
body {
  padding-top: 2rem;
}
header {
  border-top: 3px solid darkorchid;
}
.nav {
  @include flex(space-between, center);
  &__icon {
    // background-color: red;
    display: none;
  }
  ul {
    @include flex(space-between, center);
    gap: 5rem;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: darkviolet;
        font-weight: bold;
      }
    }
  }
}
.hero__content {
  background: linear-gradient(
      rgba(60%, 19.6%, 80%, 0.5),
      rgba(60%, 19.6%, 80%, 0.5)
    ),
    url("https://twilightmiva.github.io/Therapy-101/images/therapy1.jpg") no-repeat center center / cover;
  height: 100vh;
  @include flex(center, center, column, wrap);
  line-height: 2em;
  font-size: large;
  color: white;
  margin-bottom: 2rem;
}
.best__content {
  flex: wrap;
}
.time {
  @include flex(center, center, column);
  margin-top: 2rem;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 4px rgb(83, 11, 199);
  width: 50%;
  margin: 0 auto;
  padding: 1rem;

  img {
    width: 100%;
  }
  p {
    color: darkorchid;
    font-size: medium;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 1.1rem;
  }
  h1 {
    color: darkmagenta;
    font-size: xx-large;
  }
}
.title {
  @include flex(space-between, center, column);
  margin: 2rem 0;
  line-height: 2rem;
  color: darkmagenta;
}
.best {
  @include flex(space-between, center, row, wrap);
}
.best1 {
  @include flex(space-between, center, column);
  gap: 2rem;

  .child {
    @include flex(center, center);
    box-shadow: 0 0 4px rgb(83, 11, 199);
    border-radius: 100px;
    flex: 1;
    padding-left: 2rem;
    color: darkmagenta;
    width: 100%;
    img {
      border-radius: 100px;
      padding-left: 2rem;
      flex: 1;
    }
  }
  .individual {
    @include flex(center, center);
    box-shadow: 0 0 4px rgb(83, 11, 199);
    border-radius: 100px;
    padding-left: 2rem;
    flex: 1;
    color: darkmagenta;
    width: 100%;
    img {
      border-radius: 100px;
      padding-left: 2rem;
      flex: 1;
    }
  }
}

.best2 {
  @include flex(space-between, center, column);
  gap: 2rem;
  .couples {
    @include flex(center, center);
    box-shadow: 0 0 4px rgb(83, 11, 199);
    border-radius: 100px;
    padding-left: 2rem;
    line-height: 1.5rem;
    flex: 1;
    color: darkmagenta;
    width: 100%;
    img {
      border-radius: 100px;
      padding-left: 2rem;
      flex: 1;
    }
  }
  .aged {
    @include flex(space-between, center);
    box-shadow: 0 0 4px rgb(83, 11, 199);
    border-radius: 100px;
    padding-left: 2rem;
    color: darkmagenta;
    width: 100%;
    img {
      border-radius: 100px;
      padding-left: 2rem;
    }
  }
}
.whyus {
  @include flex(center, center,column);
  margin-bottom: 2rem;
  button {
    background-color: darkorchid;
    border: none;
    color: white;
    padding: 2rem 3rem;
    margin-top: 2rem;
    border-radius: 100px;
    font-size: x-large;
  }
  .language {
    @include flex(center, center,row,wrap);
    gap: 1rem;
  }
  h1 {
    color: darkmagenta;
    margin-top: 2rem;
    font-size: xx-large;
  }
  h3 {
    color: darkmagenta;
    margin: 1.5rem;
  }
  .language1 {
    @include flex(space-between, center, column);
    border-radius: 200px;
    box-shadow: 0 0 4px rgb(83, 11, 199);
    p {
      font-size: x-large;
      font-weight: bold;
      color: darkmagenta;
    }
  }
  img {
    border-radius: 200px;
  }
}

@media screen and (max-width: 900px) {
  .nav__right {
    ul {
      display: none;
    }
  }
  .nav__icon {
    display: inline-block;
  }
}
