@use"./../../utilities/mixin" as *;
nav{
    @include flex(space-between,center);
    ul{
        @include flex(space-between,center);
        gap:5rem;
        li{
            list-style-type: none;
            a{
            text-decoration: none;
            color:black;
        }
    }
    }
}