@use"./../../utilities/mixin" as *;
.aboutus{
.title{
    background-color: purple;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    h2{
        color:white;
        font-size: xx-large;
    }
}
}
.about{
    margin-top: -2rem;
    background:  linear-gradient(
        rgba(60%, 19.6%, 80%, 0.5),
        rgba(60%, 19.6%, 80%, 0.5)
      ),url(/images/about.webp)no-repeat center center /cover;
    height: 50vh;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    p{
        line-height: 1.4rem;
color:white;
font-weight: bold;
font-size: large;
width: 50%;
margin-top: 3rem
    }
@include flex(center,flex-start);
}
