@use "./../../utilities/mixin" as *;
.how-it-works__content {
  li {
    @include flex(space-between, center);
    div:first-child {
      flex: 1;
    }
    div:last-child {
      flex: 1;
        @include flex(flex-end, flex-start, column);
      img{
align-self: flex-end;
      }
    }
  }
}

.how-it-works__content {
  box-shadow: 0 0 4px rgb(83, 11, 199);
  margin: 2em;
  border-radius: 100px;
  img {
    border-radius: 100px;
  }
}
